/* #00487B .75 opacity backgrounds */
/* #02CBF6 font */
/* #F2B979 accent */

html {
    position: relative;
    min-height: 100%;
}

body {   
    background-color: #00487B;
    font-family: "Josefin Sans", sans-serif;
    color: #02CBF6;
    margin: 0 0 80px 0;
}

.container {
    width: 100%;
    padding: 0;
}

a {
    color: #02CBF6;
}

a:hover {
    color: #02CBF6;
    text-decoration: none;
    opacity: .8;
}

/***** home page ****/
.home-page {
    background-image: url("../images/background3.jpg");
    background-size: cover;
}
header {
    text-align: center;
    padding: 50px;
    margin-top: 10%;
}
header h1 {
    font-family: "Megrim", cursive;
    font-size: 100px;
}

header img {
    border: 2px solid #00487B;
    border-radius: 50%;
}

/*****nav*****/
nav {
    text-align: center;
    color: white;
}

/***** footer styling *****/
#footer {
    position: absolute;
    bottom: 0;
    background-color: #00487B;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    height: 80px;
}
#footer img {
    border: 1px solid #02CBF6;
    background-color: #02CBF6;
    border-radius: 50%;
}

/***** rules page ****/
#rules-container {
    background: #00487B;
    opacity: .75;
}
#rules-container li {
    font-size: 20px;
    margin-bottom: 10px;
}

/***** auth forms *****/
#LogInForm, #signUpForm {
  margin: 0 auto;
  text-align: center;
  width: 700px;
}

/***** GAME PAGE *****/
#logo {
    font-family: "Megrim", cursive;
}
/*****pieces*****/
.big {
  padding: 5px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100px;
  height: 100px;
  z-index: 3;
}
.small {
  width: 40px;
  height: 40px;
  z-index: 5;
}
#dropHere7 {
  z-index: 7;
}
#sunRedBig, #sunRedSmall {
  filter: saturate(4);
}
#sunGreenBig, #satRedBig, #alienBlueBig {
  filter: hue-rotate(90deg);
}
#sunBlueSmall {
  filter: hue-rotate(180deg);
}
#satGreenSmall {
  filter: hue-rotate(235deg);
}
#alienRedSmall {
  filter: hue-rotate(255deg);
}

/*****venn diagram*****/
#venn div {
    height: 400px;
    width: 300px;
    border-radius: 50%;
    display: flex;
    float: left;
    opacity: .9;
    text-align: center;
}

#category1 {
    background-image: url("../images/io.jpg");
    background-size: cover;
    padding-right: 100px;
}

#category2 {
    background-color: #AFB0A3;
    margin-left: -200px;
    padding-left: 100px;
}

#venn #category3 {
    border: 0;
    height: 250px;
    width: 100px;
    left: -100px;
    top: 100px;
    position: relative;
    text-align: center;
    z-index: 10;
    opacity: 1;
}

/*****black hole*****/
#category4 {
  width: 400px;
  height: 400px;
  margin-top: 10px;
  margin-left: 15%;
  border-radius: 50%;
}


.pretty.circle label i {
    padding: 0px;
}

.pretty i {
    padding: 0px;
    font-size: 2em !important;
    margin-top: 20%;
    margin-left: 20%;
}

.pretty i:before {
    background-color: transparent;
}


 #board-container {
    z-index: -9999;
} 

.rotate {
        -webkit-animation: 10s;
        animation-fill-mode: forwards;
        animation-name: rotateaway;
}

@-webkit-keyframes rotateaway {
		from {
                -webkit-transform: rotate(0deg) scale(3);
        }
		to {
                -webkit-transform: rotate(-720deg) scale(0.001);
		}
}

/***** checklist component*****/
.checklistDiv {
    height: 760px;
}
.tablePanel {
    text-align: center;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
td {
    padding-top: 8px;
    padding-bottom: 8px;
}
table {
    margin-left: -12px;
}
#left {
    padding: 10px;
}
.panel-body {
 margin-left: 10%;
}
input {
    width: 100%;
    border: 0px solid;
    font-size: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: transparent;
}

